---
import Layout from "../layouts/Layout.astro";
import fünfundvierzig from "../assets/images/45.jpg";
import fünfundfünfzig from "../assets/images/51.jpg";
import drei from "../assets/images/44.jpg";
import dk1 from "../assets/dk1.svg";
import dk2 from "../assets/dk2.svg";
import dk3 from "../assets/dk3.svg";
import dk4 from "../assets/dk4.svg";
import dk5 from "../assets/dk5.svg";
---

<Layout>
  <main class="">
    <div class="bg-gray-900 text-white relative">
      <!-- Inhaltselemente 1 -->

      <section class="relative bg-[#4c5c96] text-center text-white py-16">
        <!-- Das Dreieck wird hier eingefügt  DK1-->
        <img
          class="absolute top-[-100px] left-0 right-0 h-[100px] w-full"
          src={dk1.src}
          alt=""
        />
        <div
          class="relative container mx-auto px-4 md:flex md:flex-row-reverse"
        >
          <img
            class="w-[15rem] h-[15rem] md:w-[25rem] md:h-[25rem] rounded-full object-cover ml-auto  mb-2 mt-[-5rem] md:mt-[5rem]"
            src={fünfundvierzig.src}
            alt="Georgien Bild"
          />
          <div class="md:p-[5rem] text-right">
            <h2 class="text-3xl font-bold m-7">
              10 Gründe, warum du Georgien besuchen solltest
            </h2>
            <p class="">
              1. **Reiche Geschichte und Kultur** – Georgien hat eine über 3000
              Jahre alte Geschichte und eine einzigartige Kultur, die du
              nirgendwo anders findest.
            </p>
            <p class="">
              2. **Wunderschöne Natur** – Von den majestätischen Kaukasus-Bergen
              bis zu den traumhaften Küsten von Batumi bietet Georgien eine
              atemberaubende Naturvielfalt.
            </p>
            <p class="">
              3. **Georgischer Wein** – Georgien ist als das "Wiege des Weins"
              bekannt, mit einer jahrtausendealten Weinbau-Tradition und
              unverwechselbaren Weinen.
            </p>

            <a href="/galerie">
              <button
                class="mt-4 bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded"
              >
                Weiter zur Galerie
              </button>
            </a>
          </div>
        </div>
      </section>

      <!-- Inhaltselemente 2 -->
      <section class="relative bg-[#45558d] text-center text-white py-16">
        <!-- Das Dreieck wird hier eingefügt DK2 -->
        <img
          class="absolute top-[0px] left-0 right-0 h-[100px] w-full rotate-180 scale-y-[-1]"
          src={dk2.src}
          alt=""
        />

        <div class="relative container mx-auto px-4 md:flex">
          <img
            class="w-[15rem] h-[15rem] md:w-[25rem] md:h-[25rem] rounded-full object-cover mr-auto mb-4 md:mt-[5rem]"
            src={fünfundfünfzig.src}
            alt="Georgischer Wein"
          />
          <div class="md:p-[5rem] text-left">
            <h2 class="text-3xl font-bold m-7">
              Georgischer Wein – Eine 8000 Jahre alte Tradition
            </h2>
            <p class="mt-2">
              4. **Einzigartige Architektur** – Georgien bietet faszinierende
              Architektur, von alten Klöstern bis zu modernen Gebäuden, die das
              Land zu einem architektonischen Schatz machen.
            </p>
            <p class="mt-2">
              5. **Vielfältige Landschaften** – Egal, ob du Wandern, Skifahren
              oder am Strand entspannen möchtest – Georgien hat für jedes
              Abenteuer etwas zu bieten.
            </p>
            <p class="mt-2">
              6. **Leckeres Essen** – Georgische Küche ist ein Highlight!
              Probier Khachapuri, Khinkali und viele andere regionale
              Spezialitäten.
            </p>

            <p class="mt-2">
              7. **Gastfreundschaft** – Die Georgier sind unglaublich
              gastfreundlich. Du wirst dich schnell wie zu Hause fühlen.
            </p>

            <a href="/galerie">
              <button
                class="mt-4 bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded"
              >
                Weiter zur Galerie
              </button>
            </a>
          </div>
        </div>
      </section>

      <!-- Inhaltselemente 3 -->

      <section class="relative bg-[#3f4e85] text-center text-white py-16">
        <!-- Das Dreieck wird hier eingefügt DK3 -->
        <img
          class="absolute top-[-100px] left-0 right-0 h-[100px] w-full"
          src={dk3.src}
          alt=""
        />

        <div
          class="relative z-10 container mx-auto px-4 md:flex md:flex-row-reverse"
        >
          <img
            class="w-[15rem] h-[15rem] md:w-[25rem] md:h-[25rem] rounded-full object-cover ml-auto mb-4 mt-[-5rem] md:mt-[3rem]"
            src={drei.src}
            alt=""
          />
          <div class="md:p-[5rem] text-right m-7">
            <h2 class="text-3xl font-bold">Erlebe Georgien</h2>
            <p class="mt-2">
              10. **Preiswertes Reiseziel** – Georgien ist im Vergleich zu
              vielen anderen europäischen Reisezielen relativ günstig, was es zu
              einem idealen Ziel für Reisende mit kleinem Budget macht.
            </p>
            <p class="mt-2">
              8. **Erbe der UNESCO** – Viele historische Stätten und Naturwunder
              in Georgien sind Teil des UNESCO-Weltkulturerbes.
            </p>

            <p class="mt-2">
              9. **Herausragende Gastfreundschaft** – Die Georgier sind bekannt
              dafür, dass sie Besucher wie Familie behandeln.
            </p>

            <a href="/galerie">
              <button
                class="mt-4 bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded"
              >
                Weiter zur Galerie
              </button>
            </a>
          </div>
        </div>
      </section>

      <!-- Das Dreieck wird hier eingefügt DK4 -->
      <img
        class="absolute botoom-[0px] left-0 right-0 h-[100px] w-full rotate-180 scale-y-[-1]"
        src={dk4.src}
        alt=""
      />
    </div>

    <!-- youtube videos -->

    <section class="youtube relativ bg-[#2e3141]">
      <div class="container mx-auto pt-[2.5rem] px-4">
        <h1
          class="text-2xl mt-4 md:text-4xl font-bold text-centermt-9 mb-5 text-gray-50"
        >
          Entdecke Georgien
        </h1>
        <div
          class="grid grid-cols-1 md:grid-cols-2 gap-6 text-center bg-[#353849]"
        >
          <!-- Card 1 -->
          <div class="bg-gray-800 rounded-xl shadow-lg overflow-hidden">
            <iframe
              class="border-[2px] ml-auto mr-auto mt-7 rounded-lg"
              width="80%"
              height="320"
              src="https://www.youtube.com/embed/gBTZBPQNJco?si=HsicaFkWtgRDY0lZ"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            >
            </iframe>

            <div class="p-4">
              <h2 class="text-xl font-bold mb-2 text-blue-500">
                Winter in Georgien
              </h2>
              <p class="text-gray-400 mb-4">
                Ein Winter voller Schnee, Traditionen und unvergesslicher
                Momente.
              </p>
              <a href="/touren">
                <button
                  class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded"
                >
                  Tour buchen
                </button>
              </a>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="bg-gray-800 rounded-xl shadow-lg overflow-hidden">
            <iframe
              class="border-[2px] ml-auto mr-auto mt-7 rounded-lg"
              width="80%"
              height="320"
              src="https://www.youtube.com/embed/3zSdXP_RihU?si=VBgCkvXIlbxWZwJB"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen></iframe>

            <div class="p-4">
              <h2 class="text-xl font-bold mb-2 text-blue-500">
                Sommer in Georgien
              </h2>
              <p class="text-gray-400 mb-4">
                Ein Sommer voller Abenteuer, Kultur und unvergesslicher
                Erlebnisse.
              </p>
              <a href="/touren">
                <button
                  class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded"
                >
                  Tour buchen
                </button>
              </a>
            </div>
          </div>

          <!-- Card 3 -->
          <div class="bg-gray-800 rounded-xl shadow-lg overflow-hidden">
            <iframe
              class="border-[2px] ml-auto mr-auto mt-7 rounded-lg"
              width="80%"
              height="320"
              src="https://www.youtube.com/embed/m7QpAoCHFA8?si=kgFfsOxb4H9OMKFH"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen></iframe>

            <div class="p-4">
              <h2 class="text-xl font-bold mb-2 text-blue-500">
                Georgische Tänze
              </h2>
              <p class="text-gray-400 mb-4">
                Tradition, Leidenschaft und Eleganz in Bewegung.
              </p>
              <a href="/touren">
                <button
                  class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded"
                >
                  Tour buchen
                </button>
              </a>
            </div>
          </div>

          <!-- Card 4 -->
          <div class="bg-gray-800 rounded-xl shadow-lg overflow-hidden">
            <iframe
              class="border-[2px] ml-auto mr-auto mt-7 rounded-lg"
              width="80%"
              height="320"
              src="https://www.youtube.com/embed/XRchqLy1ToA?si=dMBN6T_o7TxPPMus"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen></iframe>

            <div class="p-4">
              <h2 class="text-xl font-bold mb-2 text-blue-500">
                Farben Georgiens
              </h2>
              <p class="text-gray-400 mb-4">
                Ein Land voller Farben, das die Seele berührt.
              </p>
              <a href="/touren">
                <button
                  class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded"
                >
                  Tour buchen
                </button>
              </a>
            </div>
          </div>
        </div>
        <img
          class="absolute botoom-0 left-0 right-0 h-[100px] w-full rotate-[-180] scale-y-[-]"
          src={dk5.src}
          alt=""
        />
      </div>
    </section>

    <style>
      p {
        padding: 5px;
      }
    </style>
  </main>
</Layout>
